{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="font-sans font-bold text-center leading-relaxed mt-20 py-8 bg-white w-full">
		<h1 class="text-3xl text-gray-700 mb-4">
			Réservez vos courts</h1>
		<img src="{{ asset('build/images/favicon.png') }}" alt="tennis" class="mx-auto w-10 my-8">
		<h2 class="text-2xl text-gray-600">Tennis-club
			<br>de la Raquette</h2>
	</div>
	<a href="{{ path('booking_search') }}" class="font-mono text-xl font-bold mt-20 inline-flex justify-center border border-yellow-300 shadow-sm px-12 py-2.5 bg-yellow-500 text-base font-medium text-yellow-900 hover:bg-yellow-400 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600">Réserver</a>

	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('admin_index') }}" class="font-mono text-xl font-bold mt-20 inline-flex justify-center border border-pink-300 shadow-sm px-12 py-2.5 bg-pink-500 text-base font-medium text-white hover:bg-pink-400 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-600">Administration</a>
	{% endif %}

{% endblock %}
