{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Modifier votre profil
{% endblock %}

{% block body %}

	<div class="mx-auto max-w-3xl">
		{{ form_start(registrationForm) }}
		<div class="bg-white px-4 pt-5 pb-8 sm:p-6 w-5/6 mx-auto">
			<div class="sm:flex sm:items-start justify-center">
				<div class="mt-3 text-center sm:mt-0">
					<h2 class="my-6 text-lg leading-6 font-medium text-gray-900" id="modal-title">
						Modifier vos informations
					</h2>
					<div class="mt-8">
						<div class="w-full">
							<div class="flex items-center justify-between w-full my-3">
								{{ form_label(registrationForm.pseudo, 'Pseudo:', {'label_attr': {
                                'class': 'block text-sm w-28 text-left'
                            }}) }}
								{{ form_widget(registrationForm.pseudo, {'attr': {
                                'class': 'flex-grow text-xs block bg-gray-200 px-2 py-1.5 ml-2'
                            }}) }}
							</div>

							{% set formerrorspseudo = registrationForm.pseudo.vars.errors.form.getErrors(true) %}
							{% if formerrorspseudo|length %}
								{% for error in formerrorspseudo %}
									<p class="text-left text-xs text-red-500 mb-0.5">
										<span class="text-black">-</span>
										{{ error.message }}</p>
								{% endfor %}
							{% endif %}
						</div>

						<div class="w-full">
							<div class="flex items-center justify-between w-full my-3">
								{{ form_label(registrationForm.email, 'Email:', {'label_attr': {
                                'class': 'block text-sm w-28 text-left'
                            }}) }}
								{{ form_widget(registrationForm.email, {'attr': {
                                'class': 'flex-grow text-xs block bg-gray-200 px-2 py-1.5 ml-2'
                            }}) }}
							</div>

							{% set formerrorsemail = registrationForm.email.vars.errors.form.getErrors(true) %}
							{% if formerrorsemail|length %}
								{% for error in formerrorsemail %}
									<p class="text-left text-xs text-red-500 mb-0.5">
										<span class="text-black">-</span>
										{{ error.message }}</p>
								{% endfor %}
							{% endif %}
						</div>

						<div class="w-full">
							<div class="flex items-center justify-between w-full mt-3 mb-2">
								{{ form_label(registrationForm.plainPassword, 'Mot de passe:', {'label_attr': {
                                'class': 'block text-sm w-28 text-left'
                            }}) }}
								{{ form_widget(registrationForm.plainPassword, {'attr': {
                                'class': 'flex-grow text-xs block bg-gray-200 px-2 py-1.5 ml-2'
                            }}) }}
							</div>
							<p class="text-xs text-left text-gray-700">Laisser vide si vous ne souhaitez pas modifier votre mot de passe.</p>

							{% set formerrorspassword = registrationForm.plainPassword.vars.errors.form.getErrors(true) %}
							{% if formerrorspassword|length %}
								{% for error in formerrorspassword %}
									<p class="text-left text-xs text-red-500 mb-0.5">
										<span class="text-black">-</span>
										{{ error.message }}</p>
								{% endfor %}
							{% endif %}
						</div>

						<div class="w-full">
							<p class="mt-12 text-xs text-left">Pour confirmer les changements, veuillez entrer votre mot de passe actuel:</p>
							<div class="flex items-center justify-between w-full mt-2 mb-3">
								{{ form_widget(registrationForm.confirmPassword, {'attr': {
                                'class': 'flex-grow text-xs block bg-gray-200 px-2 py-1.5'
                            }}) }}
							</div>

							{% set formerrorspasswordconfirm = registrationForm.confirmPassword.vars.errors.form.getErrors(true) %}
							{% if formerrorspasswordconfirm|length %}
								{% for error in formerrorspasswordconfirm %}
									<p class="text-left text-xs text-red-500 mb-0.5">
										<span class="text-black">-</span>
										{{ error.message }}</p>
								{% endfor %}
							{% endif %}
							{% if errorConfirmation is defined %}
								<p class="text-left text-xs text-red-500 mb-0.5">
									{{ errorConfirmation }}</p>
							{% endif %}
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse justify-between w-5/6 mx-auto">

			<div class="sm:flex sm:flex-row-reverse">
				<button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm">
					Sauvegarder
				</button>
			</div>

			<a href="{{ path('profile') }}" class="mt-6 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">
				Annuler
			</a>

		</div>
		{{ form_rest(registrationForm) }}
		{{ form_end(registrationForm) }}
		<div class="bg-gray-50 mt-6 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse justify-between w-5/6 mx-auto">
			{{ include('home/_delete_form.html.twig') }}
		</div>

	</div>
{% endblock %}
