{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Administration
{% endblock %}

{% block body %}
	<div class="relative w-full mx-auto max-w-3xl mt-16">
		<div class="flex justify-start items-center">
			<h2 class="text-3xl font-bold text-pink-700 bg-pink-100 rounded pt-2.5 pr-4 leading-none overflow-ellipsis overflow-hidden">Administration</h2>
		</div>
		<h3 class="self-start mt-8 mb-4 font-bold text-xl text-gray-800">Consulter les réservation par date</h3>

		<div class="max-w-xs mx-auto flex flex-col items-center mt-8">

			<h2 class="self-start mt-8 mb-4 font-bold text-xl text-gray-800">Sélectionner une date</h2>
			<p id="year" class="text-center bg-blue-100 text-blue-900 font-bold py-1 mb-1 text-lg w-full" data-value="{{ year }}">{{ year }}</p>
			<div class="flex justify-between w-full mb-2">
				<button id="previous-month" class="bg-blue-50 font-bold text-blue-800 px-3 py-1 rounded border-2 border-blue-200">&lt;</button>
				<p id="month" data-value="{{ month }}" class="flex items-center justify-center font-bold text-blue-800">{{ monthTrad }}</p>
				<button id="next-month" class="bg-blue-50 font-bold text-blue-800 px-3 py-1 rounded border-2 border-blue-200">&gt;</button>
			</div>

			<table class="mx-auto">
				<thead class="text-sm font-normal text-gray-400">
					<tr>
						<th class="pb-2">L</th>
						<th class="pb-2">M</th>
						<th class="pb-2">M</th>
						<th class="pb-2">J</th>
						<th class="pb-2">V</th>
						<th class="pb-2">S</th>
						<th class="pb-2">D</th>
					</tr>
				</thead>

				<tbody id="days" class="text-gray-700 text-sm">
					{% for week in calendar %}
						<tr>
							{% for day in week %}
								<td id="{{ day }}" class="{{ (day == '') ? 'cal-day-empty' : 'cal-day-filled' }} {{ (day == today) ? 'day-selected ' : '' }}w-10 h-10 text-center cursor-default">
									{{ (day == '') ? day : '%02d'|format(day) }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<button id="submit" class="text-base text-blue-500 font-bold mt-4 inline-flex justify-center border-2 border-blue-500 shadow-sm px-8 py-2.5 bg-blue-100 text-base font-medium text-gray-50 hover:bg-blue-500 hover:text-gray-100 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600">Rechercher</button>
		</div>

		<div class="w-full mx-auto flex flex-col items-center">
			<h2 id="date-booking" class="text-xl sm:text-3xl font-bold text-pink-700 bg-pink-100 pt-2.5 px-4 leading-none mt-8 mb-8 rounded" data-value="{{ today ~ '/' ~ month ~ '/' ~ year }}">
				{{ '%02d'|format(today) ~ '/' ~ '%02d'|format(month) ~ '/' ~ year }}</h2>

			<h2 class="self-start mt-8 mb-6 font-bold text-xl text-gray-800 flex flex-col sm:flex-row items-start sm:items-center">Occupation des courts:
			</h2>

			{% for court in courts %}

				<div class="court-div text-sm sm:text-base flex items-center justify-between rounded w-full px-5 py-2 text-lg font-bold text-gray-700 bg-gray-100 border-2 border-gray-200 mb-3 cursor-pointer">
					<div class="flex flex-col sm:flex-row items-start sm:items-center">
						<p>{{ court.info.name }}</p>
						<div class="flex items-center">
							<div class="flex items-center mr-6">
								<p class="flex items-center ml-0 sm:ml-8 py-1.5 px-3 text-xs {{ court.info.surface == 'clay' ? 'text-yellow-100 bg-yellow-800' : court.info.surface == 'grass' ? 'text-green-100 bg-green-800' : 'text-blue-100 bg-blue-800' }}">
									<span class="block w-5 h-5 rounded-full mr-2 {{ court.info.surface == 'clay' ? 'bg-yellow-500' : court.info.surface == 'grass' ? 'bg-green-500' : 'bg-blue-500' }}"></span>
									{{ court.info.surfaceFR }}
								</p>
							</div>
							<div class="text-xs py-1.5 px-3 {{ court.info.cover == true ? 'bg-gray-800 text-gray-100' : 'bg-gray-300 text-gray-900' }}">{{ court.info.cover == true ? 'Couvert' : 'Non-couvert' }}</div>
						</div>


					</div>
					<div class="arrow down w-4 h-4"></div>
				</div>

				<div class="self-start slots flex flex-wrap mb-4 hidden">
					{% for hour, array in court.slots %}
						{% if array.booked == false %}
							<div class="bg-green-200 text-green-800 font-sans font-bold w-20 py-2 rounded text-xs text-center mr-2 mb-2 border-2 border-green-200" data-value="{{ court.info.id }}-{{ hour }}">{{ hour }}:00</div>
						{% endif %}

						{% if array.booked == true %}
							<div class="admin-slot-hour bg-red-200 text-red-800 font-sans font-bold w-20 py-2 rounded text-xs text-center mr-2 mb-2 cursor-pointer border-2 border-red-200 hover:border-red-400 hover:bg-red-100" data-value="{{ court.info.id }}-{{ hour }}">{{ hour }}:00</div>
							{% include "/admin/_booking_modal.html.twig" %}
						{% endif %}
					{% endfor %}
				</div>


			{% endfor %}
		</div>


		<div class="sm:flex sm:flex-row-reverse sm:justify-between mt-16 mb-20">
			<div class="my-5">
				<a href="{{ path('admin_index') }}" class="text-white text-sm block sm:inline-flex text-center justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2.5 bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Retour à l'administration</a>
			</div>
		</div>

	</div>
{% endblock %}
